extends layout
block content
    h1= title
    p Welcome to #[em Shopping List], a very basic Express website.

    h1 Dynamic content

    if error
      p Error getting dynamic content.
    else
      p The shopping list has the following item count:

      p #[strong Shopping items:] !{shoppingitem_count}

    input#search(type="search", placeholder="Search Craig's Jobs")
    h2#results

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/javascripts/main.js")